{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "plugins": ["prettier-plugin-css-order"]
      }
    }
  ]
}
